<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Registro</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="registro-fondo">
  <div class="registro-container">
    <ion-card class="registro-card">
      <ion-card-header>
        <ion-card-title class="titulo">Crea tu cuenta 🌿</ion-card-title>
        <ion-card-subtitle class="subtitulo">Únete a Vida Sana</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
        <ion-item class="input-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="apellido" name="apellido"></ion-input>
        </ion-item>

        
        <ion-item class="input-item">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" placeholder="ejemplo@gmail.com"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Entre 3 y 8 caracteres"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label>Nivel Educacional</ion-label>
          <ion-select [(ngModel)]="selectedOption" name="selectedOption">
            <ion-select-option value="universitario">Universitario</ion-select-option>
            <ion-select-option value="magister">Magíster</ion-select-option>
            <ion-select-option value="doctorado">Doctorado</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-item" lines="none">
          <ion-label>Fecha de Nacimiento</ion-label>
          <mat-form-field appearance="outline">
            <mat-label>dd/mm/yyyy</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="selectedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-item>

        <ion-button expand="block" (click)="guardar()" color="success">Guardar Datos</ion-button>
        <ion-button expand="block" fill="clear" routerLink="/login" color="primary">¿Ya tienes cuenta? Inicia sesión</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>