<ion-content [fullscreen]="true" class="login-fondo">
  <div class="login-container">
    <div class="logo-container">
      <img src="../../../assets/img/logo_vidasana.png" alt="Logo Vida Sana" class="logo">
    </div>

    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="titulo">Bienvenido a Vida Sana 🍃</ion-card-title>
        <ion-card-subtitle class="subtitulo">Tu espacio de bienestar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="input-item">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()" color="success">Iniciar sesión</ion-button>

        <ion-button expand="block" fill="clear" (click)="registro()" color="primary">
          Registrarse
        </ion-button>

        <ion-text class="forgot-password" color="medium">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


