ion-list {
  --background: transparent;
  background-color: transparent;
}

ion-item {
  --background: transparent;
  background-color: transparent;
}

ion-item ion-icon {
  color: #2ecc71; /* Verde claro */
}

ion-label {
  color: #2ecc71; /* Verde claro */
}


ion-menu ion-toolbar {
  --background: #ffffffcc; /* Fondo blanco semitransparente */
  backdrop-filter: blur(4px);
}

ion-menu ion-title {
  color: #145a32 !important; /* Verde oscuro para contrastar */
  font-weight: bold;
}

