<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Recetas</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="recetas-fondo">
  <div class="recetas-container">
    <ion-card *ngFor="let receta of recetas" class="receta-card">
      <img [src]="receta.imagen" alt="{{ receta.nombre }}" class="receta-img" />

      <ion-card-header>
        <ion-card-title class="titulo">{{ receta.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="descripcion">{{ receta.descripcion }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

