<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Bienestar Emocional 🧘‍♀️</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="contenido">
    <img src="../../assets/img/bienestar.png" alt="Bienestar Emocional" class="imagen" />
    <h2>Conecta contigo, vive en paz</h2>
    <p>
      Cuidar de tu mente es tan importante como cuidar tu cuerpo. Descubre formas de gestionar el
      estrés y cultivar pensamientos positivos.
    </p>
    <ul>
      <li>✔ Meditación diaria o respiración consciente</li>
      <li>✔ Agradece y valora los pequeños logros</li>
      <li>✔ Rodéate de personas que te apoyen</li>
    </ul>
  </div>
</ion-content>


