<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title class="titulo-header">Vida Sana 🍃</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Info del usuario -->
  <div class="user-info">
    <img src="../../assets/img/user.png" alt="User Avatar" class="user-avatar" />
    <h2><strong>{{ bienvenidos }}</strong><br/> {{ email }}</h2>
    <span>¡Hoy es un buen día para cuidarte! 🌞</span>
  </div>

  <div class="seccion-info">
    <h2>Áreas de bienestar</h2>
  </div>

  <!-- Card: Alimentación saludable -->
  <ion-card>
    <img src="../../assets/img/alimentacion.png" alt="Alimentación saludable" />
    <ion-card-header>
      <ion-card-title>Alimentación saludable</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Consejos y recetas para nutrir tu cuerpo con alimentos naturales, frescos y equilibrados.
    </ion-card-content>
  </ion-card>

  <!-- Card: Ejercicio físico -->
  <ion-card>
    <img src="../../assets/img/ejercicio.png" alt="Ejercicio físico" />
    <ion-card-header>
      <ion-card-title>Ejercicio físico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Rutinas simples y efectivas para mantenerte activo y mejorar tu salud día a día.
    </ion-card-content>
  </ion-card>

  <!-- Card: Bienestar emocional -->
  <ion-card>
    <img src="../../assets/img/bienestar.png" alt="Bienestar emocional" />
    <ion-card-header>
      <ion-card-title>Bienestar emocional</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Técnicas y recursos para cuidar tu mente, reducir el estrés y vivir con más paz interior.
    </ion-card-content>
  </ion-card>

</ion-content>

